:root {
  --primary-color: hsl(0, 0%, 95%);
  --secondary-color: hsla(0, 0%, 100%, 0.75);
  --sedans-color: hsl(31, 77%, 52%);
  --suvs-color: hsl(184, 100%, 22%);
  --luxury-color: hsl(179, 100%, 13%);
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  /* font-size: 15px; */
}

main {
  display: flex;
  flex-flow: column nowrap;
  padding: 20% 10%;
}

section {
  flex: 1 100%;
  padding: 20%;
  font-family: "Lexend Deca";
  display: flex;
  flex-flow: column nowrap;
}

.section-sedans p, .section-suvs p, .section-luxury p {
  flex: 3;
}
.section-sedans a, .section-suvs a, .section-luxury a {
  align-self: flex-start;
}

.section-sedans {
  background-color: var(--sedans-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.section-suvs {
  background-color: var(--suvs-color);
}

.section-luxury {
  background-color: var(--luxury-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

p {
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  font-family: "Big Shoulders Display";
}

a {
  display: inline-block;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 20px;
  border-radius: 5em;
}

.section-sedans a {
  color: var(--sedans-color);
}

.section-suvs a {
  color: var(--suvs-color);
}

.section-luxury a {
  color: var(--luxury-color);
}

.section-sedans a:hover {
  color: var(--primary-color);
  background-color: var(--sedans-color);
  border: 1px solid var(--primary-color);
}

.section-suvs a:hover {
  color: var(--primary-color);
  background-color: var(--suvs-color);
  border: 1px solid var(--primary-color);
}

.section-luxury a:hover {
  color: var(--primary-color);
  background-color: var(--luxury-color);
  border: 1px solid var(--primary-color);
}

@media screen and (min-width: 1200px) {
  main {
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    padding: 10%;
    height: 100vh;
  }

  section {
    width: 5vw;
    height: 80vh;
    padding: 4%;
    display: flex;
    flex-flow: column nowrap;
  }

  .section-sedans {
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .section-sedans p, .section-suvs p, .section-luxury p {
    flex: 5;
  }
  
  .section-sedans a, .section-suvs a, .section-luxury a {
    align-self: flex-start;
  }
  
  .section-luxury {
    border-radius: unset;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
