:root {
  --primary-color: hsl(0, 0%, 95%);
  --secondary-color: hsla(0, 0%, 100%, 0.75);
  --sedans-color: hsl(31, 77%, 52%);
  --suvs-color: hsl(184, 100%, 22%);
  --luxury-color: hsl(179, 100%, 13%);
}

/* @font-face {
  font-family: "Lexend Deca";
  src: url("https://fonts.google.com/specimen/Lexend+Deca");
  font-weight: 400;
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("https://fonts.google.com/specimen/Big+Shoulders+Display");
  font-weight: 700;
} */

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  /* font-size: 15px; */
}

main {
  display: flex;
  flex-flow: column nowrap;
  /* align-content: space-between; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  padding: 20% 10%;

  /* text-align: center; */
}

section {
  /* justify-content: center; */
  flex: 1 100%;
  /* width: 80vw; */
  height: 100vh;
  /* padding: 100%; */
  padding: 20%;
  font-family: "Lexend Deca";

  /* margin: 10px; */
}

.section-sedans {
  background-color: var(--sedans-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.section-suvs {
  background-color: var(--suvs-color);
}

.section-luxury {
  background-color: var(--luxury-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

p {
  /* font: 15px var(--secondary-color); */
  /* font-weight: bold; */
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  font-family: "Big Shoulders Display";
}

a {
  /* color: var(--sedans-color); */
  display: inline-block;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 20px;
  border-radius: 5em;
}

.section-sedans a {
  color: var(--sedans-color);
}

.section-suvs a {
  color: var(--suvs-color);
}

.section-luxury a {
  color: var(--luxury-color);
}

.section-sedans a:hover {
  color: var(--primary-color);
  background-color: var(--sedans-color);
  border: 1px solid var(--primary-color);
}

.section-suvs a:hover {
  color: var(--primary-color);
  background-color: var(--suvs-color);
  border: 1px solid var(--primary-color);
}

.section-luxury a:hover {
  color: var(--primary-color);
  background-color: var(--luxury-color);
  border: 1px solid var(--primary-color);
}

@media screen and (min-width: 1200px) {
  main {
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    padding: 10%;
    height: 100vh;
    /* align-items: stretch; */
    /* align-content: space-between; */
  }

  section {
    /* flex: 0 30%; */
    width: 5vw;
    height: 50vh;
    padding: 4%;
    /* height: unset; */
    /* height: 70%; */
    display: flex;
    flex-flow: column nowrap;

    /* display: flex;
    flex-flow: column wrap; */
    /* justify-content: flex-end; */
    /* align-content: space-between; */
    /* align-items: stretch; */

    /* border-radius: 1rem; */
    /* border-bottom-left-radius: 1rem; */
  }

  .section-sedans {
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* display: flex;
    flex-flow: column nowrap; */
    /* margin: 0;
    padding: 0; */

    /* align-content: flex-end; */
    /* align-items: flex-end; */
    /* justify-content: space-evenly; */
    /* align-self: stretch; */
  }

  /* .section-sedans header {
    flex: 1;
  } */

  .section-sedans p, .section-suvs p, .section-luxury p {
    flex: 5;
  }
  .section-sedans a, .section-suvs a, .section-luxury a {
    /* display: inline-block; */
    /* flex: 1 0; */
    align-self: flex-start;
    /* text-align: center;
    vertical-align: center; */
  }
  .section-luxury {
    border-radius: unset;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
